<div fxLayout fxLayout.lt-md="column wrap" fxLayoutAlign="center center" fxLayoutGap.gt-sm="250px" fxLayoutGap.lt.md="20px" >    
    <mat-form-field>
      <input matInput type="text" (keyup)="doFilter($event.target.value)" placeholder="Filter">
    </mat-form-field>
    <div>
        <a [routerLink]="['/restaurant/create']" mat-button color="primary">Create Restaurant</a>
    </div>
</div>

<div class="example-container mat-elevation-z8">
    <mat-paginator [pageSize] ="2" [pageSizeOptions]="[2, 4, 6, 10, 20]"></mat-paginator>

    <mat-table [dataSource] = "restaurantDataSource" matSort matSortStart="desc">
        <ng-container matColumnDef="name">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Name</mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.name}}</mat-cell>
        </ng-container>
    
        <ng-container matColumnDef="websiteUrl">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Website URL</mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.websiteUrl}}</mat-cell>
        </ng-container>
    
        <ng-container matColumnDef="socialMediaAddress">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Social Media</mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.socialMediaAddress}}</mat-cell>
        </ng-container>
        
        <ng-container matColumnDef="details">
            <mat-header-cell *matHeaderCellDef> Details</mat-header-cell>
            <mat-cell *matCellDef="let element">
                <button mat-icon-button color="primary" (click)="redirectToDetails(element.id)">
                    <mat-icon class="mat-18">reorder</mat-icon>
                </button>
            </mat-cell>
        </ng-container>
    
        <ng-container matColumnDef="update">
            <mat-header-cell *matHeaderCellDef>Update</mat-header-cell>
            <mat-cell *matCellDef="let element">
                <button mat-icon-button color="accent" (click)="redirectToUpdate(element.id)">
                    <mat-icon class="mat-18">system_update</mat-icon>
                </button>
            </mat-cell>
        </ng-container>
    
        <ng-container matColumnDef="delete">
            <mat-header-cell *matHeaderCellDef>Delete</mat-header-cell>
            <mat-cell *matCellDef="let element">
                <button mat-icon-button color="warn" (click)="redirectToDelete(element.id)">
                    <mat-icon class="mat-18">delete</mat-icon>
                </button>
            </mat-cell>
        </ng-container>
    
        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>    
    </mat-table>
</div>
