/* table {
    width: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
    min-width: 100%;
} */
 
th.mat-header-cell {
    text-align: left;
    max-width: 50px;
}
.flex-wrapper{
    height: 100%;
}

@media screen and (max-width: 959px) {
    .mat-table {
      border: 0;
      vertical-align: middle
    }

    .mat-table .mat-row {
        /* border-bottom: 5px solid #ddd; */
        /* display: block; */
        padding: 10px;
      }

      .mat-table .mat-cell {
        /* border-bottom: 1px solid #ddd; */
        /* display: block; */
        font-size: 1em;
        /* text-align: right; */
        /* font-weight: bold; */
        /* height:30px; */
        /* margin-bottom: 4%; */
      }

      .mat-table .mat-cell:before {
        /*
        * aria-label has no advantage, it won't be read inside a table
        content: attr(aria-label);
        */
        content: attr(data-label);
        /* float: left; */
        text-transform: uppercase;
        font-weight: normal;
        
        font-size: .85em;
      }

      .mat-table .mat-cell:last-child {
        border-bottom: 0;
      }
        .mat-table .mat-cell:first-child {
        margin-top: 0;
      }
}
