<section fxLayout="row wrap" fxLayoutAlign="center center">
    <mat-accordion fxFlex="500px" fxFlex.xs="100%">
        <mat-expansion-panel *ngFor="let foodType of foodTypes; let i = index">
          <mat-expansion-panel-header>
            <mat-panel-title>
              {{i+1}}. Food Type
            </mat-panel-title>
            <mat-panel-description>
              Food Type Information
            </mat-panel-description>
          </mat-expansion-panel-header>
      
          <div fxLayout="row wrap" fxLayoutAlign="center center">
            <div fxFlex="35%" class="text-color"><strong>ID:</strong> &nbsp; {{foodType?.id}}</div>
            <div fxFlex class="text-color"><strong>Description:</strong> &nbsp; {{foodType?.description}}</div>
          </div>
 
        </mat-expansion-panel>
      </mat-accordion>
</section>
<p>Error with retrieveing data here</p>
