mat-card-content, mat-card-title, mat-card-actions {
    text-align: center;
    font-family: Roboto;
}

mat-option{
    font-family: Roboto;
}
 
mat-card-content{
    padding-top: 20px;
    padding-bottom: 20px;
    font-family: Roboto;
}
 
.advanced-color{
    color: #3f51b5;
}
 
.beginner-color{
    color: #f44336;
}